<nav>
  <button class="js-select-button">BMW</button>
  <button class="js-select-button">AUDI</button>
  <button class="js-select-button">MERCEDES-BENZ</button>
  <button class="js-select-button">FERRARI</button>
  <button class="js-select-button">LAMBORGHINI</button>
  <button class="js-select-button">MASSERATI</button>
  <button class="js-select-button">ASTON MARTIN</button>
  <button class="js-select-button">MCLAREN</button>
  <button class="js-select-button">PORSCHE</button>
  <button class="js-select-button">BUGATTI</button>
</nav>
